@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin-top: 10px;
}

blockquote {
  background: rgb(248 250 252);
  border-left: 10px solid #dadcde;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #dadcde;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  margin-top: 5px;
}